@import './base.css';
@import './../components/HomePage/homepage.css';
@import './../components/Login/login.css';
@import './../components/Reservations/reservations.css';

/**************************************/
.custom-navbar {
  background-color: #022135;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Texto e íconos blancos */
.custom-navbar .nav-link,
.custom-navbar .navbar-brand,
.custom-navbar .nav-link i,
.custom-navbar .navbar-brand i {
  color: #ffffff !important;
  transition: color 0.4s ease;
  font-weight: 500;
}

.custom-navbar .nav-link:hover,
.custom-navbar .navbar-brand:hover,
.custom-navbar .nav-link:hover i,
.custom-navbar .navbar-brand:hover i {
  color: #ffce54 !important;
}

/*Uno es normal y otro el active */
.custom-navbar .nav-link.active,
.custom-navbar .nav-link.active i {
  color: #ffce54 !important;
  font-weight: bold;
}

/**************************************/
.footer {
  background-color: #022135;
  text-align: center;
  color: #f5f5f5;
  font-size: 0.9rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/**************************************/
.dropdown-menu-dark {
  background-color: #022135;
  border: none;
}

.dropdown-menu-dark .dropdown-item {
  color: #ffffff;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.dropdown-menu-dark .dropdown-item:hover {
  background-color: #1b3b55;
  color: #ffce54;
}
